<ion-view id="goalPage">

    <ion-header-bar class="bar-dark">
        <button class="button button-icon icon ion-ios7-arrow-left" ng-click="goBack()">All goals</button>
        <a href="#/goal/edit/{{ goal.id }}" class="button button-icon icon ion-ios7-compose-outline"></a>
    </ion-header-bar>

    <ion-content class="tasks">
        <div class="padding">
            <div class="goal-text padding-bottom">
                <span ng-bind-html="goal.subject"></span>
            </div>
        </div>

        <div class="bar-progress" style="background-color: {{ goal.color }};">
            <div class="visual-progress" style="width: {{ 100 - goal.percent }}%;"></div>
            <span class="progress-value">{{ goal.percent }}%</span>
        </div>

        <ul class="tasks">
            <li class="item item-checkbox" ng-repeat="task in tasks" ng-click="calculateProgress()">
                <label class="checkbox">
                    <input type="checkbox" ng-model="task.done" style="border-color: {{ goal.color }}">
                </label>
                {{ task.name }}
            </li>
        </ul>
    </ion-content>

</ion-view>