<ion-view>
    <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content>
            <ion-pane>
                <ion-header-bar class="bar-dark">
                    <!-- <button class="button button-icon icon ion-ios7-arrow-left">All goals</button> -->
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <a href="#/goal/new" class="button button-icon icon ion-ios7-plus-empty"></a>
                </ion-header-bar>

                <ion-content class="tasks">
                    <div class="padding white-pane">
                        <div class="goal-text padding-bottom">
                            <span class="curious-blue">Do</span> something right now
                        </div>
                        <div class="goal-info-text">
                            <span class="curious-blue b">{{ activeGoalsNum }} goals</span> are waiting for you!
                        </div>
                    </div>
                    <ion-list class="goals">
                        <ion-item ng-repeat="goal in goalsList" ng-click="openGoal( goal )">
                            <radial-progress data-value="{{ goal.percent }}" data-color="{{ goal.color }}"></radial-progress>
                            <span ng-bind-html="goal.subject"></span>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-pane>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-list id="side-menu-list">

                <a href="#/archive" class="item">
                    <i class="icon ion-clock"></i>
                    Active
                </a>
                <a href="#/statistic" class="item">
                    <i class="icon ion-arrow-graph-up-right"></i>
                    Statistic
                </a>

            </ion-list>
        </ion-side-menu>

    </ion-side-menus>
</ion-view>

