
/*---------------- Header -----------------*/
.bar.bar-dark {
	background: #272727;
}

/*---------------- Content -----------------*/
.curious-blue {	color: #3498DB; }
.b { font-weight: 700; }
.white-pane { background: white; }

ion-content, .item { background-color: rgb(34, 34, 34); }
ion-side-menu.menu { background-color: rgb(30, 30, 30); }

.item {
    color: rgb(189, 189, 189);
    border-color: rgb(58, 58, 58);
}

.tasks .item { padding-left: 60px; }

.goal-text {
	font-size: 40px;
	line-height: 41px;
}

.goal-info-text {
	font-size: 18px;
	color: rgb(124, 124, 124);
}