
/*---------------- Header -----------------*/
.bar.bar-dark {
	background: #272727;
}

/*---------------- Content -----------------*/
.curious-blue {	color: #3498DB; }
.b { font-weight: 700; }
.white-pane { background: white; }

ion-content, .item { background-color: rgb(34, 34, 34); }
ion-side-menu.menu { background-color: rgb(30, 30, 30); }

.item {
    color: rgb(189, 189, 189);
    border-color: rgb(58, 58, 58);
}

.tasks .item { padding-left: 60px; }

.goal-text {
	font-size: 40px;
	line-height: 41px;
}

.goal-info-text {
	font-size: 18px;
    line-height: 23px;
	color: rgb(124, 124, 124);
}

.goal-arch-text {
    color: rgb(44, 44, 44);
    line-height: 25px;
    font-size: 21px;
}

.muted { color: gray; }

#side-menu-list .item { color: rgb(189, 189, 189); }
#side-menu-list .item .icon { margin-right: 8px; }

.checkbox input:before,
.checkbox .checkbox-icon:before {
    border-color: #424242;
    background: none !important;
}

.checkbox input {
    border-color: #3498DB;
}

.checkbox input:after,
.checkbox-icon:after {
    border-color: inherit;
}


/*---------------- Goal Edit -----------------*/

#goalEditPage ion-content { background-color: #EBEFF0; }

#goalEditPage textarea {
    min-height: 100px;
    background: rgb(255, 255, 255);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#goalEditPage textarea.alert { background: rgb(255, 228, 228); }

.goal-label {
    margin: 5px -10px 12px -10px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
    color: rgb(44, 44, 44);
    font-size: 21px;
}

#goalEditPage .list { margin: 0 -10px; }

#goalEditPage .item {
    border-color: #ddd;
    background-color: #fff;
}

#goalEditPage .info {
    text-align: center;
    margin: 0 0 5px;
}

#tasksPage .goal-label { border-bottom: 0; }
#tasksPage .white-pane { padding-bottom: 0; }

#tasksPage .list .input-label {
    width: auto;
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    -moz-box-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
}
#tasksPage .list input {
    padding-right: 15px;
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    -moz-box-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.goal-buttons { padding-top: 0; }

.goal-buttons .button {
    display: block;
    border-radius: 5px;
    min-height: initial;
    height: 40px;
    line-height: 11px;
}
.goal-buttons .col:nth-of-type(1) .button { float: left; }
.goal-buttons .col:nth-of-type(2) .button { float: right; }

#goalSettings .colors-list .item {
    border: 0;
    padding: 23px 25px;
    font-size: 28px;
}

#goalSettings .colors-list .radio-icon { top: 10px; }


/*---------------- Goal Page -----------------*/

#goalPage .goal-text {
    color: white;
}

.bar-progress {
    text-align: left;
    color: white;
    padding: 10px;
    font-size: 25px;
    position: relative;
}

.bar-progress .visual-progress {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/*---------------- Intro Page -----------------*/

#checkbox-logo {
    width: 120px;
    height: 120px;
    margin: 30px auto;
    position: relative;
    border-radius: 100%;
    border: 3px solid rgb(66, 66, 66);
}

#checkbox-logo:after {
    -webkit-transition: opacity 0.05s ease-in-out;
    -moz-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 30%;
    left: 19%;
    display: block;
    width: 65%;
    height: 38%;
    border: 8px solid #3498DB;
    border-top: 0;
    border-right: 0;
    content: ' ';
}

#checkbox-logo-wrap {
    border-bottom: 3px solid #3498DB;
    margin-bottom: 11px;
}

#introPage .goal-text {
    color: white;
}

#introPage .list .item-checkbox {
    border: 0;
    padding: 2px 0 0 56px;
    margin-top: 20px;
}






















